Flask==3.0.3
gunicorn==23.0.0
tflite-runtime==2.14.0; platform_system == "Linux" and python_version < "3.11"
ai-edge-litert==2.1.4; platform_system == "Windows" and python_version == "3.12"
mediapipe==0.10.14
numpy==1.26.4
opencv-contrib-python==4.10.0.84
Pillow==10.4.0
python-dotenv==1.0.1
